<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Strivectin</title>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact index">

    <div class="grid-position">

      <div class="grid-position--top">

        <div class="top-block">

          <div class="logo">
            <img src="img/logo-Strivectin.svg" alt="logo" />
          </div>

          <div class="img-block">
            <img src="./img/SH08_INTENSIVE-EYE_INGREDIENT.jpg" alt="Strivectin product">
          </div>

          <h2>
            Intensive Eye Concentrate for Wrinkles
          </h2>

          <h5>
            Intensively reduces the look of wrinkles, under-eye circles, puffiness & screen fatigue.
          </h5>

        </div>

        <a href="step_2.html" class="btn btn--black">claim sample</a>

      </div>

      <!-- <div class="grid-position--bottom">

        <div class="img-block">
          <img src="./img/image1.jpg" alt="Strivectin">
        </div>

        <a href="step_2.html" class="btn btn--black">CLAIM YOUR SAMPLE</a>

      </div> -->

    </div>

  </main>

</body>

</html>