<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="odore" content="release-probe" nextstep="index.html" />
    <title>Strivectin</title>
    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <main class="main-contact last-page">

        <div class="grid-position">

            <div class="grid-position--top">

                <div class="top-block">

                    <div class="logo">
                        <img src="img/logo-Strivectin.svg" alt="logo" />
                    </div>

                    <div class="text">

                        <h2>
                            Thank you, your
                            <br>
                            sample is on its way
                        </h2>

                    </div>

                </div>

            </div>

            <div class="grid-position--bottom">

                <div class="img-block">
                    <img src="./img/image5.jpg" alt="Strivectin">
                </div>

            </div>

        </div>
    </main>
</body>

</html>