<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Strivectin</title>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-3">

    <form action="step_4.html" method="get" class="container user-form">

      <div class="grid-position">

        <div class="grid-position--top">

          <div class="logo">
            <img src="img/logo-Strivectin.svg" alt="logo" />
          </div>

          <h2>
            Your details
          </h2>

          <div class="text italic text-center">

            <p>
              Let us know a little about yourself to recieve
              <br>
              your free sample.
            </p>
          </div>

          <div class="form-row fullwidth">
            <div class="form-group">
              <input class="form-input" name="first_name" type="text">
              <label class="form-label" for="subscribe">Your first name</label>
            </div>
          </div>

          <div class="form-row fullwidth">
            <div class="form-group">
              <input class="form-input" name="last_name" type="text">
              <label class="form-label" for="subscribe">Your last name</label>
            </div>
          </div>

          <div class="form-row two-column">
            <div class="form-group">
              <input id="birth_date" class="form-input date" name="birth_date" type="date"
                data-date-format="DD MMM YYYY" autocomplete="off">
              <label class="form-label" for="subscribe">DOB</label>
            </div>
            <div class="custom-select">
              <select name="gender">
                <option value="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="prefer_not_to_say">Prefer not to say</option>
              </select>
            </div>
          </div>

        </div>

        <div class="grid-position--bottom">

          <div class="btns">
            <label class="btn btn--black disabled" id="customer_form_label">
              <input type="submit" id="customer_form_submit" readonly />
              Continue
            </label>
          </div>

        </div>

      </div>

    </form>

  </main>
  <script src="js/libs.min.js"></script>
  <script src="./libs/moment.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>