<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Creed</title>
    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <main class="main-contact step-4 btn-padding">

        <form action="last.html" method="get" class="container user-form">

            <div class="grid-position">

                <div class="grid-position--top">

                    <div class="logo">
                        <img src="img/logo-Strivectin.svg" alt="logo" />
                    </div>

                    <h2>
                        Thank you
                    </h2>

                    <div class="text italic text-center">

                        <p>
                            Let us know where to send your sample.
                        </p>
                    </div>

                    <input name="first_name" type="hidden">
                    <input name="last_name" type="hidden">
                    <input name="birth_date" type="hidden">
                    <input name="gender" type="hidden">

                    <div class="form-row fullwidth">
                        <div class="form-group">
                            <input class="form-input" name="address" type="text">
                            <label class="form-label" for="address">Your address</label>
                        </div>
                    </div>

                    <div class="form-row two-column">
                        <div class="form-group">
                            <input class="form-input" name="address2" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-input" name="city" type="text">
                            <label class="form-label" for="city">City</label>
                        </div>
                    </div>

                    <div class="form-row two-column">
                        <div class="form-group">
                            <input class="form-input" name="zip" type="text">
                            <label class="form-label" for="zip">Post code</label>
                        </div>
                        <div class="form-group focused">
                            <input class="form-input" name="country" type="text" value="United Kingdom" readonly>
                            <label class="form-label" for="country">Country</label>
                        </div>
                    </div>

                    <div class="form-row fullwidth">
                        <div class="form-group">
                            <input class="form-input" name="email" type="email" id="email">
                            <label class="form-label" for="email">Email address</label>
                        </div>
                    </div>

                    <div class="checkboxes">
                        <div class="wrap-checkbox">
                            <p class="big">
                                Please confirm that you agree to our
                                <span class="terms terms-btn">Terms & Conditions</span>
                                and
                                <span class="terms">
                                    <a href="https://www.creedfragrances.co.uk/privacy-policy" target="_blank">
                                        Privacy Policy
                                    </a>
                                </span>.
                            </p>

                            <div class="wrap-checkbox">
                                <input type="checkbox" name="checkbox" class="checkbox" id="terms" />
                                <label for="terms"></label>
                            </div>
                        </div>

                        <div class="wrap-checkbox">
                            <p class="big">
                                Please confirm that you agree to receive marketing communications about Creed offers,
                                news
                                and
                                events by email.&#xA;&#xA;
                            </p>

                            <div class="wrap-checkbox">
                                <input type="checkbox" name="news" class="checkbox" id="news" />
                                <label for="news"></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="grid-position--bottom">

                    <div class="">
                        <label class="btn btn--black disabled" id="customer_form_label">
                            <input type="submit" id="customer_form_submit" readonly />
                            Continue
                        </label>
                    </div>
                </div>

            </div>

        </form>

        <div class="modal-wrap" id="modal-terms">
            <div class="modal">
                <button class="ui-close-modal">
                    <img src="./img/close.svg" alt="close modal">
                </button>
                <div class="modal__header">
                    Terms of use
                </div>
                <div class="modal__body">
                    <p>
                        Here at Odore Limited, we take your privacy and the security of your information very
                        seriously.
                        We will only use your personal information as set out in our Privacy Policy and as necessary
                        to
                        enable us to provide you with the services and products you have requested from us, or to
                        contact you with details of information which we may think may be relevant or of interest to
                        you
                        in respect of the services and products we provide, or about new services or products which
                        we
                        think you might like to know about.
                    </p>
                    <p>
                        The information you provide is intended for the authorized personnel of Creed, which is
                        the processing controller. Your data is used to manage your Creed experience, to send you
                        your quiz results and with your consent, to send you communications about Creed offers,
                        news and events. For more information about your personal data and rights, please consult
                        the
                        Privacy Policy.
                    </p>
                </div>
                <!-- end body -->

            </div>
            <!-- end modal -->
        </div>

        <div class="modal-wrap" id="modal-policy">
            <div class="modal">
                <button class="ui-close-modal">
                    <img src="./img/close.svg" alt="close modal">
                </button>
                <div class="modal__header">Privacy policy</div>

                <div class="modal__body">
                    <p class="modal__text">
                        Creed Limited (“We/Us”) are committed to protecting
                        and
                        respecting your privacy.
                    </p>

                    <p class="modal__text">
                        This policy sets out the basis on which any personal data we collect from you, or that you
                        provide
                        to us, will be processed by us. Please read the following carefully to understand our views
                        and
                        practices regarding your personal data and how we will treat it. By visiting
                        Creed website
                        you are accepting and consenting to the practices described in this policy.
                    </p>

                    <p class="modal__text">
                        Data Controller
                    </p>

                    <p class="modal__text">
                        For the purpose of the General Data Protection Regulation 2016/679 (the “GDPR”) the data
                        controller
                        is Creed
                        <!-- Perfume Limited (company number 03538453) of Yalding House, 4th Floor,
                        152-156
                        Great Portland Street, London, W1W 6AJ -->
                    </p>

                    <p class="modal__text">
                        Under the GDPR we will ensure that your personal data is processed lawfully, fairly, and
                        transparently, without adversely affecting your rights. We will only process your personal
                        data
                        if
                        at least one of the following basis applies:
                    </p>

                    <p class="modal__text">
                        you have given consent to the processing of your personal data for one or more specific
                        purposes;
                        processing is necessary for the performance of a contract to which you are a party or in
                        order
                        to
                        take steps at the request of you prior to entering into a contract;
                        processing is necessary for compliance with a legal obligation to which we are subject;
                        processing is necessary to protect the vital interests of you or of another natural person;
                        processing is necessary for the performance of a task carried out in the public interest or
                        in
                        the
                        exercise of official authority vested in the controller; and/or
                        processing is necessary for the purposes of the legitimate interests pursued by us or by a
                        third
                        party, except where such interests are overridden by the fundamental rights and freedoms of
                        the
                        data
                        subject which require protection of personal data.
                        COLLECTION OF YOUR PERSONAL INFORMATION
                    </p>

                    <p class="modal__text">
                        We may collect and process the following data about you:
                    </p>

                    <p class="modal__text">
                        Information you give us:
                        You may give us information about you by filling in forms on our site
                        (“Our
                        Site”) or by corresponding with us by phone, e-mail,or otherwise. This includes information
                        you
                        provide when you register to use our site, search for a product, place an order on our site,
                        enter a
                        competition, promotion or survey and when you report a problem with our site. The
                        information
                        you
                        give us may include your name, address, e-mail address and phone number, financial and
                        credit
                        card
                        information and personal description/title.
                    </p>

                    <p class="modal__text">
                        1.2 Information we collect about you:
                        With regard to each of your visits to our site we may automatically collect the following
                        information:
                    </p>

                    <p class="modal__text">
                        Technical information, including the Internet protocol (IP) address used to connect your
                        computer to
                        the Internet, your login information, browser type and version, time zone setting, browser
                        plug-in
                        types and versions,
                        operating system and platform;
                        Information about your visit, including the full Uniform Resource Locators (URL) clickstream
                        to,
                        through and from our site (including date and time); products you viewed or searched for;
                        page
                        response times, download errors, length of visits to certain pages, page interaction
                        Information (such as scrolling, clicks, and mouse-overs), and methods used to browse away
                        from
                        the
                        page and any phone number used to call our customer service number.
                        1.3 Retail Partners / Dealerships
                    </p>

                    <p class="modal__text">
                        This Privacy Policy does not address any data collection at our retail partners. When you
                        visit
                        this
                        site, our social media pages, click on our advertisements, or use services or features of
                        one of
                        our
                        mobile applications, we may also collect certain information about your device or usage by
                        automated
                        means, including using technologies such as cookies, web server logs and web beacons. You
                        will
                        need
                        to review the privacy policies of department stores or online retailers to see how they look
                        after
                        your personal data.
                    </p>

                    <p class="modal__text">
                        1.4 Information we collect automatically:
                    </p>

                    <p class="modal__text">
                        When you visit our site, view or click on our online advertisements (including our
                        advertisements on
                        third party websites), visit our social media pages, we also collect certain information
                        about
                        your
                        usage or device by automated means by using technologies such as cookies, web server logs.
                    </p>

                    <p class="modal__text">
                        The data collected could be some or all of: Name, Host, rawhost, urldomain, path, issecure,
                        ishttponly, issession, expires, isnew, sessionid, timestamp, browserid.
                    </p>

                    <p class="modal__text">
                        2.USE OF YOUR PERSONAL INFORMATION
                    </p>

                    <p class="modal__text">
                        2.1 How we use the information:
                    </p>

                    <p class="modal__text">
                        The information above that you may provide us with may be used to provide the following
                        services:
                    </p>

                    <p class="modal__text">
                        To:
                    </p>

                    <p class="modal__text">
                        Send you promotional materials or other communications after you provide your consent by
                        positively
                        opting in to receive such materials and communications
                        Process your payment when chosen to purchase our products on our website
                        Provide services to you and operational features on our site
                        Create and manage your online account
                        Chat with you or respond to your enquiries via our customer service email address
                        Communicate special events, sweepstakes, surveys and offers through our positively opted in
                        newsletter/email marketing
                        Personalised adverts displayed to you on our site and elsewhere to your interests and online
                        history
                        with us
                        Automated Decision-Making and Profiling
                        In the event that We use personal data for the purposes of automated decision-making and
                        those
                        decisions have a legal (or similarly significant effect) on You, You have the right to
                        challenge
                        to
                        such decisions under GDPR, requesting human intervention, expressing their own point of
                        view,
                        and
                        obtaining an explanation of the decision from Us.
                    </p>

                    <p class="modal__text">
                        The right described above does not apply in the following circumstances:
                        The decision is necessary for the entry into, or performance of, a contract between the You
                        and
                        Us;
                        The decision is authorised by law; or
                        You have given you explicit consent.
                        Where We use your personal data for profiling purposes, the following shall apply:
                    </p>

                    <p class="modal__text">
                        Clear information explaining the profiling will be provided, including its significance and
                        the
                        likely consequences;
                        Appropriate mathematical or statistical procedures will be used;
                        Technical and organisational measures necessary to minimise the risk of errors and to enable
                        such
                        errors to be easily corrected shall be implemented; and
                        All personal data processed for profiling purposes shall be secured in order to prevent
                        discriminatory effects arising out of profiling.
                    </p>

                    <p class="modal__text">
                        We currently make the following automated decisions:When you visit this site or our online
                        advertisements, or use one of our social networking or mobile applications, we collect
                        certain
                        information by automated means, using technologies such as cookies, web server logs and web
                        beacons.
                        Information may include (i) technical information, such as the Internet protocol (IP)
                        address
                        used
                        to connect your computer to the Internet, your login information, browser type and version,
                        time
                        zone settings, language settings, domain, operating system, platform or other system
                        settings,
                        and
                        (ii) information about your visit, including the full Uniform Resource Locators (URL)
                        clickstream
                        to, through and from our site, products you viewed or searched for, page response times,
                        download
                        errors, length of visits to certain pages, page interaction information, and methods used to
                        browse
                        away from the page and any phone number used to call our customer service number.
                        We currently profile your personal data for the following purposes:We may use the
                        information
                        collected through automated means on this site to deliver personalised content for market
                        research,
                        data analytics and system administration purposes, such as to determine whether you’ve
                        visited
                        us
                        before or are new to the site, and for compliance with our legal obligations, policies and
                        procedures, including compliance with relevant industry standards and the enforcement of our
                        Terms
                        and Conditions. We may also use the information in other ways for which specific notice is
                        provided
                        at the time of collection.
                    </p>

                    <p class="modal__text">
                        3.SHARING OF YOUR PERSONAL INFORMATION
                    </p>

                    <p class="modal__text">
                        3.1 We do not sell or rent personal data, or otherwise disclose personal information we
                        collect
                        about you, except to the following:
                    </p>

                    <p class="modal__text">
                        Any of the brands owned by any member of our group – including Creed
                        Third party service providers who perform services on our behalf based on our instructions.
                        We
                        do
                        not authorise these services providers to use or disclose the information except as
                        necessary to
                        perform services on our behalf or comply with legal requirements. Examples of these service
                        providers include entities that process credit card payments, fulfil orders, provide web
                        hosting
                        and
                        marketing activities, provide data cleansing and analytics services
                        Where any of your data is required for such a purpose, We will take all reasonable steps to
                        ensure
                        that your data will be handled safely, securely, and in accordance with your rights, Our
                        obligations, and the obligations of the third party under the law. We currently contract
                        with
                        Mailchimp as a third party.
                    </p>

                    <p class="modal__text">
                        Other third parties, but only with your explicit consent e.g. social media platforms
                        In addition, we may disclose information about you if we are required to do so by law or
                        legal
                        process, to law enforcement authorities or other government officials, or when we believe
                        disclosure
                        is necessary to appropriate to prevent physical harm or financial loss
                    </p>

                    <p class="modal__text">
                        4.DATA TRANSFERS
                    </p>

                    <p class="modal__text">
                        We may transfer the personal information we collect about you to countries other than the
                        country in
                        which the information was originally collected (which may include countries outside the
                        European
                        Economic Area (“EEA”) (including the USA)). It may also be processed by staff operating
                        outside
                        the
                        EEA who work for us or one of our suppliers. Such staff may be engaged in, among other
                        things,
                        the
                        fulfilment of your order, the processing of your payment details and the provision of
                        support
                        services. By submitting your personal data, you agree to this transfer, storing or
                        processing.
                        We
                        will take all steps reasonably necessary to ensure that your data is treated securely and in
                        accordance with this Privacy Policy and applicable law.
                    </p>

                    <p class="modal__text">
                        We share your personal data within the Creed Holdings Group, company based in the USA
                        Creed Perfume LLP, 584 Broadway, Suite 1100, New York, NY, 10012. This will involve
                        transferring your data outside the European Economic Area (EEA).]
                    </p>

                    <p class="modal__text">
                        We ensure your personal data is protected by requiring all our group companies to follow the
                        same
                        rules when processing your personal data. These rules are called “binding corporate rules”.
                        For
                        further details, see European Commission: Binding corporate rules.
                    </p>

                    <p class="modal__text">
                        Some of our external third parties are based outside the European Economic Area (EEA) so
                        their
                        processing of your personal data will involve a transfer of data outside the EEA.
                    </p>

                    <p class="modal__text">
                        Whenever we transfer your personal data out of the EEA, we ensure a similar degree of
                        protection
                        is
                        afforded to it by ensuring at least one of the following safeguards is implemented:
                    </p>

                    <p class="modal__text">
                        Data is only sent when fully encrypted.
                        We will only transfer your personal data to countries that have been deemed to provide an
                        adequate
                        level of protection for personal data by the European Commission. For further details, see
                        European
                        Commission: Adequacy of the protection of personal data in non-EU countries.
                        Where we use certain service providers, we may use specific contracts approved by the
                        European
                        Commission which give personal data the same protection it has in Europe. For further
                        details,
                        see
                        European Commission: Model contracts for the transfer of personal data to third countries.
                        Where we use providers based in the US, we may transfer data to them if they are part of the
                        Privacy
                        Shield which requires them to provide similar protection to personal data shared between the
                        Europe
                        and the US. For further details, see European Commission: EU-US Privacy Shield.
                        Please contact us on the details provided in clause 14 below if you want further information
                        on
                        the
                        specific mechanism used by us when transferring your personal data out of the EEA.
                    </p>

                    <p class="modal__text">
                        INFORMATION STORAGE PERIOD
                        We will only retain your personal data for as long as necessary to fulfil the purposes we
                        collected
                        it for, including for the purposes of satisfying any legal, accounting, or reporting
                        requirements.
                    </p>

                    <p class="modal__text">
                        To determine the appropriate retention period for personal data, we consider the amount,
                        nature,
                        and
                        sensitivity of the personal data, the potential risk of harm from unauthorised use or
                        disclosure
                        of
                        your personal data, the purposes for which we process your personal data and whether we can
                        achieve
                        those purposes through other means, and the applicable legal requirements. As a general rule
                        we
                        hold
                        data for 6 years. If you would like more information on our retention periods please let us
                        know.
                    </p>

                    <p class="modal__text">
                        PROTECTION OF YOUR PERSONAL INFORMATION
                        We endeavor to have in place the appropriate technical and organisational measures to
                        protect
                        personal data you provide against accidental or unlawful destruction or accidental loss,
                        alternation, unauthorised disclosure or access or use.
                    </p>

                    <p class="modal__text">
                        SOCIAL MEDIA AND USER GENERATED CONTENT
                        Some of our sites allow users to submit their own content. Please note that any content
                        submitted to
                        one of our social platforms can be viewed by the public, and you should be cautious about
                        providing
                        certain personal information e.g. financial information, address details or health issues
                        via
                        these
                        platforms. We are not responsible for any actions taken by other individuals if you post
                        personal
                        information on one of our social media platforms.
                    </p>

                    <p class="modal__text">
                        To remove or delete our apps from your social networking account, follow the instructions
                        from
                        the
                        social network:
                    </p>

                    <p class="modal__text">
                        Facebook: Link provided by the FACEBOOK HELP CENTER.
                    </p>

                    <p class="modal__text">
                        YOUR RIGHTS
                    </p>

                    <p class="modal__text">
                        You have the right to ask us not to process your personal data for marketing purposes. We
                        will
                        usually inform you (before collecting your data) if we intend to use your data for such
                        purposes
                        or
                        if we intend to disclose your information to any third party for such purposes. You can
                        exercise
                        your right to prevent such processing by checking certain boxes on the forms we use to
                        collect
                        your
                        data. You can also exercise the right at any time by contacting us at
                        customerservices@credd.com to remove your data from our records.
                    </p>

                    <p class="modal__text">
                        You have the right to:
                    </p>

                    <p class="modal__text">
                        Request access to your personal data (commonly known as a “data subject access request”).
                        This
                        enables you to receive a copy of the personal data we hold about you and to check that we
                        are
                        lawfully processing it.
                        Request correction of the personal data that we hold about you. This enables you to have any
                        incomplete or inaccurate data we hold about you corrected, though we may need to verify the
                        accuracy
                        of the new data you provide to us.
                        Request erasure of your personal data. This enables you to ask us to delete or remove
                        personal
                        data
                        where there is no good reason for us continuing to process it. You also have the right to
                        ask us
                        to
                        delete or remove your personal data where you have successfully exercised your right to
                        object
                        to
                        processing (see below), where we may have processed your information unlawfully or where we
                        are
                        required to erase your personal data to comply with local law. Note, however, that we may
                        not
                        always
                        be able to comply with your request of erasure for specific legal reasons which will be
                        notified
                        to
                        you, if applicable, at the time of your request.
                        Object to processing of your personal data where we are relying on a legitimate interest (or
                        those
                        of a third party) and there is something about your particular situation which makes you
                        want to
                        object to processing on this ground as you feel it impacts on your fundamental rights and
                        freedoms.
                        You also have the right to object where we are processing your personal data for direct
                        marketing
                        purposes. In some cases, we may demonstrate that we have compelling legitimate grounds to
                        process
                        your information which override your rights and freedoms.
                        Request restriction of processing of your personal data. This enables you to ask us to
                        suspend
                        the
                        processing of your personal data in the following scenarios: (a) if you want us to establish
                        the
                        data’s accuracy; (b) where our use of the data is unlawful but you do not want us to erase
                        it;
                        (c)
                        where you need us to hold the data even if we no longer require it as you need it to
                        establish,
                        exercise or defend legal claims; or (d) you have objected to our use of your data but we
                        need to
                        verify whether we have overriding legitimate grounds to use it.
                        Request the transfer of your personal data to you or to a third party. We will provide to
                        you,
                        or a
                        third party you have chosen, your personal data in a structured, commonly used,
                        machine-readable
                        format. Note that this right only applies to automated information which you initially
                        provided
                        consent for us to use or where we used the information to perform a contract with you.
                        Withdraw consent at any time where we are relying on consent to process your personal data.
                        However,
                        this will not affect the lawfulness of any processing carried out before you withdraw your
                        consent.
                        If you withdraw your consent, we may not be able to provide certain products or services to
                        you.
                        We
                        will advise you if this is the case at the time you withdraw your consent.
                        THIRD PARTY WEBSITE AND LINKS
                        Our Website may contain links to sites owned and operated by third parties, such as social
                        networking sites. Please be aware that we do not endorse and are not responsible for the
                        privacy
                        practices of third party sites, even if we provide a link to those sites. The Privacy Policy
                        presented here does not apply to such sites. These companies may have their own privacy
                        policies,
                        which we strongly suggest you read and review. Our products and services may also be made
                        available
                        to you through third party platforms or through other third party channels. We are not
                        responsible
                        for the privacy practices of any sites or apps which are not operated by companies within
                        the
                        Creed.
                    </p>

                    <p class="modal__text">
                        USE OF COOKIES
                        Our website uses cookies to distinguish you from other users of our website. This helps us
                        to
                        provide you with a good experience when you browse our website and also allows us to improve
                        our
                        site.
                    </p>

                    <p class="modal__text">
                        Cookies are small text files that websites send to your computer or other Internet-connected
                        device
                        to uniquely identify your browser or to store information or settings in your browser. Your
                        browser
                        may tell you how to be notified when you receive certain types of cookies and how to
                        restrict or
                        disable certain cookies. Please note, however, that without cookies you may not be able to
                        use
                        all
                        of the features of our website.
                    </p>

                    <p class="modal__text">
                        In conjunction with obtaining information through cookies, our web servers may log details
                        such
                        as
                        your operating system type, browser type, domain, and other system settings, as well as the
                        language
                        your system uses and the country and time zone in which your device is located. The web
                        server
                        logs
                        also may record information such as the address of the web page that linked you to our site
                        and
                        the
                        IP address of the device you use to connect to the Internet.
                    </p>

                    <p class="modal__text">
                        THIS WEBSITE WILL:
                    </p>

                    <p class="modal__text">
                        Remember what is in your shopping basket
                        Store custom user preferences and personalisation data
                        Allow you to share pages with social networks like Facebook
                        THIS WEBSITE WILL NOT:
                    </p>

                    <p class="modal__text">
                        Send information to other websites so that advertising is more relevant to you
                        Most web browsers allow some control of most cookies through the browser settings. To find
                        out
                        more
                        about cookies, including how to see what cookies have been set and how to manage and delete
                        them,
                        visit WWW.ABOUTCOOKIES.ORG or WWW.ALLABOUTCOOKIES.ORG.
                    </p>

                    <p class="modal__text">
                        12.Third Party Web Analytics
                    </p>

                    <p class="modal__text">
                        We may use third party web analytics services on this site and our social networking pages,
                        such
                        as
                        Google Analytics. The service providers that administer these services use technologies such
                        as
                        cookies and web server logs to collect information such as IP addresses and use this
                        information
                        to
                        help us analyze how visitors use the site. These vendors may use cookies placed on this Site
                        and
                        cookies placed on third-party web sites (such as Google advertising cookies).
                    </p>

                    <p class="modal__text">
                        You may deactivate the ability of these analytics services to analyze browsing activities on
                        this
                        site:
                    </p>

                    <p class="modal__text">
                        To disable Google Analytics, please download the browser add-on for the deactivation of
                        Google
                        Analytics provided by Google at: http://tools.google.com/dlpage/gaoptout?hl=en
                    </p>

                    <p class="modal__text">
                        We may implement certain Google Analytics Advertising Features (including Remarketing with
                        Google
                        Analytics; Google Display Network Impression Reporting or Google Ad settings or by visiting
                        http://tools.google.com/dlpage/gaoptout/
                    </p>

                    <p class="modal__text">
                        CHANGES TO PRIVACY POLICY
                        Our Privacy Policy may change from time to time to reflect changes in our processing of your
                        personal information. Any changes to this Policy will be posted on our Website.
                    </p>

                    <p class="modal__text">
                        CONTACT US
                        If you would like us to update the information we have about you or your preferences,
                        including
                        opt
                        out of emailing, mailing, withdraw the consent and/or object to any processing of your data
                        or
                        if
                        you have any questions about the protection of your personal information please contact us
                        by
                        email
                        at customerservices@creed.com or send a letter to the following address.
                    </p>

                    <!-- <p class="modal__text">
                        Creed Perfume Limited Yalding House
                    </p>

                    <p class="modal__text">
                        4th Floor, 152-156 Great Portland Street
                    </p>

                    <p class="modal__text">
                        London
                    </p>

                    <p class="modal__text">
                        W1W 6AJ
                    </p> -->

                    <p class="modal__text">
                        NON-WAIVER
                        No failure to exercise and no delay on our part in exercising any of our rights, remedies,
                        powers or
                        privileges under these Terms & Conditions (of which this Privacy & Cookies Policy forms
                        part)
                        and no
                        course of dealing between us shall be construed or operate as a waiver, nor shall any single
                        or
                        partial exercise of any right, remedy, power or privilege preclude any other or further
                        exercise
                        thereof or the exercise of any other right, remedy, power or privilege on our part.
                    </p>

                    <p class="modal__text">
                        LAW, JURISDICTION AND LANGUAGE
                        This website, any content contained herein, and any contracts entered into as a result of
                        usage
                        of
                        this website are governed by English law. The parties to any such contract agree to submit
                        to
                        the
                        exclusive jurisdiction of the courts of England and Wales. All contracts are concluded in
                        English.
                    </p>
                </div>
                <!-- end body -->
            </div>
            <!-- end modal -->
        </div>

    </main>
    <script src="js/libs.min.js"></script>
    <script src="./libs/moment.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>

</html>