<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Strivectin</title>
    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <main class="main-contact step-3 btn-padding">

        <form action="last.html" method="get" class="container user-form">

            <div class="grid-position">

                <div class="grid-position--top">

                    <div class="logo">
                        <img src="img/logo-Strivectin.svg" alt="logo" />
                    </div>

                    <div class="img-block">
                        <img src="./img/product.png" alt="Strivectin product">
                    </div>

                    <h3>
                        Thank you
                    </h3>

                    <div class="checkboxes">
                        <div class="wrap-checkbox">
                            <p class="big">
                                Please confirm that you agree to our
                                <span class="terms terms-btn">Terms & Conditions</span>
                                and
                                <span class="terms policy-btn">
                                    Privacy Policy
                                </span> by ticking here.
                            </p>

                            <div class="wrap-checkbox">
                                <input type="checkbox" name="checkbox" class="checkbox" id="terms" />
                                <label for="terms"></label>
                            </div>
                        </div>

                        <div class="wrap-checkbox">
                            <p class="big">
                                Please confirm that you agree to receive marketing communications about Stivectin
                                offers, news and events by email.&#xA;&#xA;
                            </p>

                            <div class="wrap-checkbox">
                                <input type="checkbox" name="news" class="checkbox" id="news" />
                                <label for="news"></label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="btn btn--black disabled" id="customer_form_label">
                            <input type="submit" id="customer_form_submit" disabled />
                            Continue
                        </label>
                    </div>

                </div>

            </div>

        </form>

        <div class="modal-wrap" id="modal-terms">
            <div class="modal">
                <div class="modal__header">
                    Terms of use
                </div>
                <div class="modal__body">
                    <p>
                        Here at Odore Limited we take your privacy and the security of your information very seriously.
                        We will only use your personal information as set out in our Privacy Policy and as necessary to
                        enable us to provide you with the services and products you have requested from us, or to
                        contact you with details of information which we think may be relevant or of interest to you in
                        respect of the services and products we provide, or about new services or products which we
                        think you might like to know about.
                    </p>
                    <p>
                        The information you provide above is intended for the authorized personnel of Strivectin, which
                        is the processing controller. Your data is used to manage your Strivectin experience, to send to
                        you your results quiz and with your consent, to send you communications about offers, news and
                        events.
                    </p>
                </div>
                <!-- end body -->
                <div class="modal__footer">
                    <button class="btn btn--black ui-close-modal">
                        Continue
                    </button>
                </div>
            </div>
            <!-- end modal -->
        </div>

        <div class="modal-wrap" id="modal-policy">
            <div class="modal">
                <div class="modal__header">Privacy policy</div>

                <div class="modal__body">

                    <p class="modal__text">
                        This Privacy Policy explains how StriVectin Operating Company, Inc. (collectively, “StriVectin”,
                        “we” or “us”) collects, uses, and discloses information about you when you access or use our
                        website (the “Site”), contact our customer service team, engage with us on social media, or
                        otherwise interact with us
                    </p>

                    <p class="modal__text">
                        CONTENTS
                    </p>

                    <ol>
                        <li>
                            PERSONAL INFORMATION COLLECTED
                        </li>
                        <li>
                            ADVERTISING AND ANALYTICS SERVICES PROVIDED BY OTHERS
                        </li>
                        <li>
                            HOW WE USE YOUR PERSONAL INFORMATION
                        </li>
                        <li>
                            TESTIMONIALS / REVIEWS
                        </li>
                        <li>
                            HOW WE SHARE PERSONAL INFORMATION
                        </li>
                        <li>
                            TEXT MESSAGES
                        </li>
                        <li>
                            SECURITY
                        </li>
                        <li>
                            YOUR CHOICES
                        </li>
                        <li>
                            ACCESSING, DELETING AND UPDATING YOUR PERSONAL INFORMATION
                        </li>
                        <li>
                            SOCIAL MEDIA PAGES / INTERACTIVE SERVICES
                        </li>
                        <li>
                            LINKS TO THIRD PARTY SITES
                        </li>
                        <li>
                            MINORS
                        </li>
                        <li>
                            TRANSFER OF PERSONAL INFORMATION INTERNATIONALLY
                        </li>
                        <li>
                            CHANGES TO THIS PRIVACY POLICY
                        </li>
                        <li>
                            ADDITIONAL RIGHTS FOR EU USERS
                        </li>
                        <li>
                            CONTACT US
                        </li>
                    </ol>

                    <p class="modal__text">
                        1. PERSONAL INFORMATION COLLECTED
                    </p>

                    <p class="modal__text">
                        We collect personal information directly from you, automatically as you use the Site, and from
                        third parties and publicly-available sources. We also derive or infer information about you
                        based on the personal information we collect, as described in more detail below.
                    </p>

                    <p class="modal__text">
                        Personal Information Collected Directly from You: We collect personal information directly from
                        you when you use the Site or otherwise interact with us, including the following: name, mailing
                        address, billing address, email address, phone number, credit/debit card information, password,
                        personal description, age, birthdate, gender, photograph, and purchase history. We may also
                        collect personal information you provide about other people. For example, if you instruct us to
                        ship your order to someone else, you may provide us with the name and contact information of the
                        intended recipient, and we may use that information to process the shipment and, in some cases,
                        communicate with the intended recipient.
                    </p>

                    <p class="modal__text">
                        Information Collected through Automatic Data Collection Technologies: As you navigate through
                        and interact with the Site, we may use automatic data collection technologies to collect certain
                        information about your equipment and browsing behavior, including: IP address, login
                        information, browser type and version, device type, time zone setting, browser plug-in types and
                        versions, operating system and platform, products viewed, searched for or purchased, page
                        response times, download errors, length of visit to certain pages, page interaction (scrolling,
                        clicks, mouse-overs), methods used to browse away from the page, and your use of features or
                        applications on the Site. The tracking technologies we use for automatic data collection
                        include:
                    </p>

                    <ul>
                        <li>
                            Cookies: A cookie is a small file placed on the hard drive of your computer. You may refuse
                            to accept browser cookies by activating the appropriate setting on your browser. However, if
                            you select this setting you may be unable to access certain parts of the Site. For
                            information about how and why we use cookies and for details of how to manage your privacy
                            and security settings for cookies, see “Your Choices” or our <a
                                href="https://shop.strivectin.co.uk/pages/cookie-policy" target="_blank">Cookie
                                Policy</a>.
                        </li>
                        <li>
                            Web Beacons: Our Site and e-mails may contain small electronic files known as web beacons
                            (also referred to as clear gifs. pixel tags and single-pixel gifs) that permit us, for
                            example, to count users who have visited pages on our Site or opened an e-mail and for other
                            related Site statistics (for example, recording the popularity of certain content and
                            verifying system and server integrity).
                        </li>
                    </ul>

                    <p class="modal__text">
                        Personal Information We Derive: We may derive information or draw inferences about you based on
                        the other types of personal information we collect. For example, we may infer your location
                        based on your IP address, or that you are interested in purchasing a certain product based on
                        your browsing behavior on our Site.
                    </p>

                    <p class="modal__text">
                        2. ADVERTISING AND ANALYTICS SERVICES PROVIDED BY OTHERS
                    </p>

                    <p class="modal__text">
                        We allow others to provide analytics services and serve advertisements on our behalf across the
                        web and in mobile applications. These entities use cookies, web beacons, device identifiers and
                        other technologies to collect information about your use of the Site and other websites, such as
                        your IP address, web browser, pages viewed, links clicked, and conversion information. This
                        information is used by StriVectin and others to, among other things, analyze and track data,
                        determine the popularity of certain content, deliver advertising and content targeted to your
                        interests on our Site and other websites, and better understand your online activity. For more
                        information about interest-based ads, or to opt out of having your web browsing information used
                        for behavioral advertising purposes, please visit optout.aboutads.info or change your settings
                        on the Site. European users may opt out of receiving targeted advertising by visiting <a
                            href="www.youronlinechoices.eu/" target="_blank">www.youronlinechoices.eu/</a> or changing
                        their settings on the Site.
                    </p>

                    <p class="modal__text">
                        We may also work with third parties to serve ads to you as part of a customized campaign on
                        third party platforms (such as Facebook or Instagram). As part of these ad campaigns, we or
                        third party platforms may convert information about you, such as your email address and phone
                        number, into a unique value that can be matched with a user account on these platforms to allow
                        us to learn about your interests and to serve you advertising that is customized to your
                        interests. Note that the third party platforms may offer you choices about whether you see these
                        types of customized ads.
                    </p>

                    <p class="modal__text">
                        3. HOW WE USE YOUR PERSONAL INFORMATION
                    </p>

                    <p class="modal__text">
                        We use personal information for the following purposes:
                    </p>

                    <ul>
                        <li>
                            to operate, maintain, and improve our Site;
                        </li>
                        <li>
                            to provide and administer your account on our Site;
                        </li>
                        <li>
                            to provide and administer our <a
                                href="https://shop.strivectin.co.uk/pages/rewards?_ga=2.21950136.284676415.1582553782-762919354.1581609721&_gac=1.49022610.1582828057.EAIaIQobChMI9brVi6vy5wIVwZyzCh0ZJwuDEAYYBiABEgL-D_D_BwE"
                                target="_blank">InnerCircle Rewards loyalty program</a>;
                        </li>
                        <li>
                            to provide the products and services you requested and / or purchased and send you related
                            information, including confirmations, notices, updates, alerts, surveys and support and
                            administrative messages;
                        </li>
                        <li>
                            to communicate with you about our products, services, promotions, rewards, events and other
                            news and information we think will be of interest to you (for information about opting out
                            of these communications, see “Your Choices”);
                        </li>
                        <li>
                            to monitor and analyze trends, usage and activities in connection with our Site;
                        </li>
                        <li>
                            to personalize the Site and show you content we think will most interest you;
                        </li>
                        <li>
                            to provide customer service or support or contact you regarding your account; to carry out
                            our obligations and enforce our rights arising from any contracts entered into between you
                            and us, including for billing and collection; to conduct internal research and development
                            to improve, upgrade, or enhance the Site or our products and services;
                        </li>
                        <li>
                            to perform other logistics and operation activities as needed, including debugging to
                            identify and repair errors with the Site;
                        </li>
                        <li>
                            to protect our assets, detect security incidents, protect against malicious, deceptive,
                            fraudulent or illegal activity;
                        </li>
                        <li>
                            to carry out certain short-term activities and other reasonable internal purposes related to
                            your use of the Site, the products you purchase from us, or your ongoing relationship with
                            us;
                        </li>
                        <li>
                            to comply with our legal obligations;
                        </li>
                        <li>
                            in any other way we may describe when you provide the information; and
                        </li>
                        <li>
                            for any other purpose with your consent or as permitted by law.
                        </li>
                    </ul>

                    <p class="modal__text">
                        4. TESTIMONIALS / REVIEWS
                    </p>

                    <p class="modal__text">
                        From time to time, StriVectin may permit end-users to submit reviews and testimonials regarding
                        our products, as well as biographical material associated with such end-users (collectively
                        “Testimonials”), by and through the Site or otherwise. By submitting a Testimonial, you
                        irrevocably grant to StriVectin the right to use the Testimonial (including your biographical
                        information) in any and all forms of marketing and promotional material including, without
                        limitation, website publication, print ads, online ads, television ads, radio ads, interactive
                        media, as well as printed extracts and reproductions of any portion thereof, and for any and all
                        other uses. You should be aware that your Testimonial(s), and any personal information that you
                        submit in connection with same, may be published in a way that such material can be viewed,
                        read, collected and/or used by others.
                    </p>

                    <p class="modal__text">
                        5. HOW WE SHARE PERSONAL INFORMATION
                    </p>

                    <p class="modal__text">
                        We share personal information with third parties as follow:
                    </p>

                    <ul>
                        <li>
                            with service providers or vendors that perform services on our behalf and need access to
                            personal information to do so (e.g., couriers, payment processors, data analytics providers,
                            mailing houses and fraud detection services);
                        </li>
                        <li>
                            in the event that we sell or buy any business or assets, in which case we may disclose your
                            personal information to the prospective seller or buyer of such business or assets;
                        </li>
                        <li>
                            if we plan to merge with or be acquired by that third party or in connection with a partial
                            or total sale of assets, bankruptcy or another corporate change;
                        </li>
                        <li>
                            if we are under a duty to disclose or share your personal information in order to comply
                            with any legal obligation, subpoena or court order, or in order to enforce or apply our
                            Terms of Use and other agreements;
                        </li>
                        <li>
                            with our lawyers and other professional advisors where necessary to obtain advice or
                            otherwise protection and manage our business interests;
                        </li>
                        <li>
                            if we believe in good faith that the disclosure of information is necessary to: (i) prevent
                            imminent physical harm or financial loss to us; (ii) prevent or report suspected illegal
                            activity; and/or (iii) protect anyone’s rights, property or safety. This includes exchanging
                            information with other companies and organizations for the purposes of fraud protection and
                            credit risk reduction; and
                        </li>
                        <li>
                            with your consent or at your direction or as otherwise permitted by law.
                        </li>
                    </ul>

                    <p class="modal__text">
                        In addition, we may disclose aggregated or de-identified information, which cannot reasonably be
                        used to identify you.
                    </p>

                    <p class="modal__text">
                        6. TEXT MESSAGES
                    </p>

                    <p class="modal__text">
                        If you have provided prior express written consent to have promotional offers or transactional
                        correspondence from us sent to your mobile device, we may send you a MS, MMS or other text
                        message (“Text Messages”) with such communications to the telephone number you provided to us.
                        Standard text message rates will apply.
                    </p>

                    <p class="modal__text">
                        If you have provided a telephone number for Text Messages, you are obligated to immediately
                        inform us if and when the telephone number that you have previously provided to us changes.
                        Without limiting the foregoing, if you: (i) have your telephone number reassigned to another
                        person or entity; (ii) give up your telephone number so that it is no longer used by you; (iii)
                        port your telephone number to a landline or vice versa; or (iv) otherwise stop using that
                        telephone number for any reason (collectively “Phone Number Change”), you agree that you shall
                        promptly notify us of the Phone Number Change by contacting us through the methods provided in
                        Section 17.
                    </p>

                    <p class="modal__text">
                        7. SECURITY
                    </p>

                    <p class="modal__text">
                        We take reasonable administrative, technical, and physical measures to help protect personal
                        information from loss, theft, misuse, and unauthorized access, disclosure, alteration, and
                        destruction. While we strive to protect your personal information, we cannot guarantee the
                        security of any information you transmit to us.
                    </p>

                    <p class="modal__text">
                        8. YOUR CHOICES
                    </p>

                    <p class="modal__text">
                        We strive to provide you with choices regarding the personal information you provide to us.
                        There are various mechanisms to provide you with control over your information, including those
                        listed in this section.
                    </p>

                    <p class="modal__text">
                        Cookies: Visitors have a choice as to whether to accept non-essential cookies when you access
                        our Site. We will only set non-essential cookies if you give us your consent.
                    </p>

                    <p class="modal__text">
                        You can set your browser to refuse all or some browser cookies. Unless you have adjusted your
                        browser setting so that it will refuse cookies, our system will issue cookies (including those
                        of third party vendors) when you direct your browser to the Site. Please note that if you choose
                        to remove or reject cookies, this could affect the availability and functionality of our Site.
                    </p>

                    <p class="modal__text">
                        Email Communications: To opt out of receiving our newsletter and/or other promotional e-mail
                        communications from us, you can follow the instructions at the end of the applicable e-mail
                        message, contact us via e-mail at the address listed in Section 16 “Contact Us” or phone at +44
                        113 320 5195.
                    </p>

                    <p class="modal__text">
                        Text Messages: If you wish to opt out of receiving Text Messages from us, you must follow the
                        opt-out instructions at the end of each text message (e.g., reply “STOP”). Please note that if
                        you decide to opt out, it may take a few days to process your opt-out request by email and 6–8
                        weeks to process your postal mail request and that you may continue to receive promotional or
                        marketing materials during this time. Also, please note that opting out will not preclude us
                        from sending you other types of non-promotional messages, such as emails confirming
                        transactions.
                    </p>

                    <p class="modal__text">
                        9. ACCESSING, DELETING AND UPDATING YOUR PERSONAL INFORMATION
                    </p>

                    <p class="modal__text">
                        At your request, we will inform you of what personal information we have on file for you. In
                        addition, at your request and where required by applicable law, we will delete personal
                        information that you have provided to us, or that we have collected. You may ask to access your
                        information or have information deleted by contacting us via e-mail at: care@strivectin.co.uk;
                        provided, however, that we ask individuals to identify themselves and the information requested
                        to be accessed, corrected or removed before processing such requests. We will handle such
                        requests in accordance with applicable law and so there may be circumstances where we cannot
                        comply with your request. For example, we may decline to process requests that are unreasonably
                        repetitive or systematic or jeopardize the privacy of others. We may retain certain information
                        as required by law or for legitimate business purposes, where permitted by applicable law. We
                        may also retain cached or archived copies of information about you for a certain period of time.
                    </p>

                    <p class="modal__text">
                        Please be advised that deleting your personal information will limit our ability to contact you
                        in connection with the Site, which may limit your ability to utilize the Site. If you wish to be
                        contacted by us in connection with the Site, you may not request that the personal information
                        that we have on file for you be deleted.
                    </p>

                    <p class="modal__text">
                        If you are an EU resident, please see “Additional Rights for EU Users.”
                    </p>

                    <p class="modal__text">
                        10. SOCIAL MEDIA PAGES / INTERACTIVE SERVICES
                    </p>

                    <p class="modal__text">
                        If you interact with StriVectin or any third parties by and through any forums or interactive
                        areas of our Site or any social media platforms, you should be aware that the personal
                        information that you submit by and through such venues can be read, collected and/or used by
                        other users of these forums (depending on your privacy settings) and could be used to send you
                        unsolicited messages or otherwise to contact you without your consent or desire. We are not
                        responsible for the personal information that you choose to submit in these forums. In addition,
                        we are not responsible for and do not control third party social media platforms’ privacy or
                        security practices. We encourage you to review the privacy policies and settings of the third
                        parties with whom you interact to help you understand their privacy practices.
                    </p>

                    <p class="modal__text">
                        11. LINKS TO THIRD PARTY SITES
                    </p>

                    <p class="modal__text">
                        The Site may contain links to sites operated and maintained by third parties over which we have
                        no control. Privacy policies on such linked sites may be different from our Privacy Policy. We
                        encourage you to be aware when you leave the Site and to read the privacy statements of each and
                        every site that collects information from you. If you have questions about the security and
                        privacy settings of any sites that you use, please refer to their applicable privacy statements
                        or policies.
                    </p>

                    <p class="modal__text">
                        12. MINORS
                    </p>

                    <p class="modal__text">
                        Visitors under eighteen (18) years of age (or the applicable age of majority, if greater than
                        eighteen (18) years of age) are not permitted to use and/or submit their personal information at
                        the Site. We do not knowingly solicit or collect information from visitors under eighteen (18)
                        years of age (or the applicable age of majority, if greater than eighteen (18) years of age). If
                        you register with us and we discover that you are under eighteen (18) years of age (or the
                        applicable age of majority, if greater than eighteen (18) years of age), we will delete your
                        registration and associated personal information, to the greatest extent of our abilities. We
                        encourage parents and guardians to spend time online with their children and to participate and
                        monitor the Internet activities of their children.
                    </p>

                    <p class="modal__text">
                        13. TRANSFER OF PERSONAL INFORMATION INTERNATIONALLY
                    </p>

                    <p class="modal__text">
                        StriVectin is headquartered in the United States, and we have operations and service providers
                        in the United States and other countries. As such, we will transfer your personal information
                        to, or store or access it in, jurisdictions that may not provide equivalent levels of data
                        protection as your home jurisdiction. We will take steps to ensure that your personal
                        information receives an adequate level of protection in the jurisdictions in which we process
                        it.
                    </p>

                    <p class="modal__text">
                        When we transfer personal information from the European Union or the United Kingdom to the
                        United States, we comply with the EU-U.S. Privacy Shield Framework as set forth by the U.S.
                        Department of Commerce regarding the collection, use, and retention of personal information (the
                        “Privacy Shield Principles”). StriVectin has certified to the Department of Commerce that we
                        adhere to the Privacy Shield Principles. To learn more about the Privacy Shield program, and to
                        view our certification, please visit https://www.privacyshield.gov/.
                    </p>

                    <p class="modal__text">
                        In compliance with the Privacy Shield Principles, we are committed to resolving complaints about
                        our processing of your personal data. Individuals who reside in the EU or UK with inquiries or
                        complaints regarding our compliance with the Privacy Shield program should first contact us. We
                        have further committed to refer unresolved Privacy Shield complaints to JAMS, an alternative
                        dispute resolution provider located in the United States. If you do not receive timely
                        acknowledgment of your complaint from us, or if we have not addressed your complaint to your
                        satisfaction, please contact or visit
                        https://www.jamsadr.com/file-an-eu-us-privacy-shield-or-safe-harbor-claim for more information
                        or to file a complaint. The services of JAMS are provided at no cost to you.
                    </p>

                    <p class="modal__text">
                        Under certain conditions, you may be able to invoke binding arbitration to resolve your
                        complaint. StriVectin is subject to the investigatory and enforcement powers of the Federal
                        Trade Commission.
                    </p>

                    <p class="modal__text">
                        If we share personal data transferred to the U.S. under the Privacy Shield with a third-party
                        service provider that processes such data on our behalf, then we will be liable for that third
                        party’s processing in violation of the Privacy Shield Principles, unless we can prove that we
                        are not responsible for the event giving rise to the damage.
                    </p>

                    <p class="modal__text">
                        14. CHANGES TO THIS PRIVACY POLICY
                    </p>

                    <p class="modal__text">
                        We may change or modify this Privacy Policy at any time in our sole discretion. Such change(s)
                        will be effective immediately upon posting of the change or modification on this Site. We may
                        also elect to notify you of changes or updates to our Privacy Policy by additional means, such
                        as sending you an email.
                    </p>

                    <p class="modal__text">
                        15. ADDITIONAL RIGHTS FOR EU USERS
                    </p>

                    <p class="modal__text">
                        If you are in the European Union or the UK, you have certain rights and protections under the
                        law regarding the processing of your personal information and this section applies to you.
                    </p>

                    <p class="modal__text">
                        Legal Basis for Processing
                    </p>

                    <p class="modal__text">
                        If you are in the European Union or UK, we will process your personal information in reliance on
                        the following lawful bases:
                    </p>

                    <ul>
                        <li>
                            To perform our responsibilities under our contract with you (e.g., processing payments and
                            providing the products you have ordered).
                        </li>
                        <li>
                            When we have a legitimate interest in processing your personal information in order to
                            operate our business, supply our products and protect our interests (e.g., to send you
                            marketing communications, to conduct data analytics, and to provide, secure, and improve our
                            Site).
                        </li>
                        <li>
                            If we determine it is necessary to comply with a legal obligation to which we are subject
                            (e.g., to maintain a record of your consents and those who have opted-out of marketing
                            communications).
                        </li>
                        <li>
                            When we have your consent to do so (e.g., when you agree to receive marketing communications
                            from us). When we rely on consent as the legal basis for processing your personal
                            information, you may withdraw such consent at any time.
                        </li>
                    </ul>

                    <p class="modal__text">
                        Data Retention
                    </p>

                    <p class="modal__text">
                        We store personal information we collect about you for as long as is necessary for the
                        purpose(s) for which we collected it or for other legitimate business purposes, including to
                        meet our legal, regulatory, or other compliance obligations.
                    </p>

                    <p class="modal__text">
                        Data Subject Requests
                    </p>

                    <p class="modal__text">
                        You have the right to request access to personal information we hold about you and to ask that
                        your personal information be corrected, erased, or shared with another individual. You may also
                        have the right to object to, or request that we restrict, certain processing. If you would like
                        to exercise any of these rights, please visit this <a
                            href="https://shop.strivectin.co.uk/pages/privacy-request-form" target="_blank">page</a>.
                    </p>

                    <p class="modal__text">
                        Questions or Complaints
                    </p>

                    <p class="modal__text">
                        If you have a concern about our processing of personal data that we are not able to resolve, you
                        have the right to lodge a complaint with the data privacy authority where you reside. Contact
                        details of your Data Protection Authority can be found using the links below:
                    </p>

                    <p class="modal__text">
                        For individuals in the EEA: <a
                            href="http://ec.europa.eu/justice/data-protection/article-29/structure/data-protection-authorities/index_en.htm"
                            target="_blank">http://ec.europa.eu/justice/data-protection/article-29/structure/data-protection-authorities/index_en.htm</a>
                    </p>

                    <p class="modal__text">
                        For individuals in the UK: <a href="https://ico.org.uk/global/contact-us/"
                            target="_blank">https://ico.org.uk/global/contact-us/</a>
                    </p>

                    <p class="modal__text">
                        16. CONTACT US
                    </p>

                    <p class="modal__text">
                        If you have any questions regarding the use of the Site or this Privacy Policy, please contact
                        us at +44 113 320 5195 or care@strivectin.co.uk.
                    </p>

                </div>
                <!-- end body -->
                <div class="modal__footer">
                    <button class="btn btn--black ui-close-modal">
                        Continue
                    </button>
                </div>
            </div>
            <!-- end modal -->
        </div>

    </main>
    <script src="js/libs.min.js"></script>
    <script src="./libs/moment.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>

</html>