<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Strivectin</title>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-1">

    <div class="logo">
      <img src="img/logo-Strivectin.svg" alt="logo" />
    </div>

    <h2>
      The Fragrance Story
    </h2>

    <div class="text italic text-center">

      <p>
        The House of Creed is proud to present
        <br>
        Viking Cologne.
      </p>

      <p>
        An aromatic Eau de Parfum that
        <br>
        refreshes the wearer with an
        <br>
        exhilarating energy, to inspire renewed
        <br>
        determination and an all-conquering
        <br>
        spirit.
      </p>
    </div>

    <div class="img-block">
      <img src="./img/image2.jpg" alt="Creed">
    </div>

    <div class="text italic text-center">

      <p>
        This masterful alchemy of zingy citrus fruits
        <br>
        with aromatic heart notes is fused together by
        <br>
        a woody base,
        featuring dry sandalwood,
        <br>
        zesty bergamot and earthy vetiver.
      </p>

    </div>

    <div class="img-block">
      <img src="./img/image3.jpg" alt="Creed">
    </div>

    <div class="text italic text-center">

      <p>
        In contrast to the original Viking - an
        <br>
        award-winning, bold and fiery masculine
        <br>
        masterpiece; this cooler
        counterpart has a
        <br>
        refreshing twist. The perfect scent to
        <br>
        transition you effortlessly into the warmer
        <br>
        months that
        lie ahead.
      </p>

    </div>

    <div class="img-block">
      <img src="./img/image4.jpg" alt="Creed">
    </div>

    <div class="slider-wrap">

      <div class="text italic text-center">

        <h3 class="italic">
          We now invite you to discover
          <br>
          Viking Cologne with a
          <br>
          complimentary 2ml sample.
        </h3>

      </div>

      <h2>
        Fragrance Notes
      </h2>

      <h4>
        Aromatic Fougère, Crisp
      </h4>

      <div class="slider">

        <div>

          <h4>
            Top notes
          </h4>

          <p>
            Bergamot, Lemon, Mandarin, Pink Pepper
          </p>

        </div>

        <div>

          <h4>
            Heart Notes
          </h4>

          <p>
            Geranium, Lavender, Nutmeg, Rosemary, Sage
          </p>

        </div>

        <div>

          <h4>
            Base Notes
          </h4>

          <p>
            Sandalwood, Frankincense, Patchouli, Cedarwood, Vetiver
          </p>

        </div>

      </div>

      <div class="dots-block">

      </div>
    </div>

    <a href="step_3.html" class="btn btn--black">Continue</a>

  </main>
  <script src="js/libs.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>