<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Strivectin</title>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact step-2">

    <form action="step_3.html" method="get" class="container user-form">

      <div class="grid-position">

        <div class="grid-position--top">

          <div class="logo">
            <img src="img/logo-Strivectin.svg" alt="logo" />
          </div>

          <div class="img-block img-block--md">
            <img src="./img/SH02_Hero-2-The-Wrinkle-Specialist.jpg" alt="Strivectin product">
          </div>

          <h2>
            Please fill out your details to receive a sample at home
          </h2>

          <fieldset>

            <div class="form-row fullwidth">
              <div class="form-group">
                <input class="form-input" name="first_name" type="text">
                <label class="form-label" for="subscribe">First name</label>
              </div>
            </div>

            <div class="form-row two-column">
              <div class="form-group">
                <input class="form-input" name="last_name" type="text">
                <label class="form-label" for="subscribe">Last name</label>
              </div>
              <div class="custom-select">
                <select name="age">
                  <option value="">Age range</option>
                  <option value="18-25">18-25</option>
                  <option value="26-35">26-35</option>
                  <option value="36-45">36-45</option>
                  <option value="46-55">46-55</option>
                  <option value="> 55">> 55</option>
                </select>
              </div>
            </div>

          </fieldset>

          <fieldset>

            <div class="form-row fullwidth">
              <div class="form-group">
                <input class="form-input" name="email" type="email" id="email">
                <label class="form-label" for="email">Email</label>
              </div>
            </div>

            <div class="form-row fullwidth">
              <div class="form-group">
                <input class="form-input" name="confirm_email" type="email" id="confirm_email">
                <label class="form-label" for="confirm_email">Confirm email</label>
              </div>
            </div>

          </fieldset>

          <fieldset>

            <div class="form-row fullwidth">
              <div class="form-group">
                <input class="form-input" name="address" type="text">
                <label class="form-label" for="address">Address</label>
              </div>
            </div>

            <div class="form-row fullwidth">
              <div class="form-group">
                <input class="form-input" name="address2" type="text">
              </div>
            </div>

            <div class="form-row two-column">
              <div class="form-group">
                <input class="form-input" name="city" type="text">
                <label class="form-label" for="city">City</label>
              </div>
              <div class="form-group">
                <input class="form-input" name="zip" type="text">
                <label class="form-label" for="zip">Post code</label>
              </div>
            </div>

            <div class="form-row fullwidth">
              <div class="form-group focused">
                <input class="form-input" name="country" type="text" value="United Kingdom" readonly>
                <label class="form-label" for="country">Country</label>
              </div>
            </div>

          </fieldset>

        </div>

        <div class="grid-position--bottom">

          <div class="btns">
            <label class="btn btn--black disabled" id="customer_form_label">
              <input type="submit" id="customer_form_submit" readonly />
              Continue
            </label>
          </div>

        </div>

      </div>

    </form>

  </main>
  <script src="js/libs.min.js"></script>
  <script src="./libs/moment.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>